workflows/deprecated/high-priority-workflow.json
{
  "id": "KBubFGfYhmY7ZY9U",
  "name": "High Priority Escalation Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalate-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "580d8688-105d-46ec-a1a2-cf1a3f03959b",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -448,
        112
      ],
      "webhookId": "a5c18735-4ed9-4681-a1e4-63cefc1ea127"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.priority }}",
              "value2": "HIGH"
            }
          ]
        }
      },
      "id": "156329ed-4f5f-4edc-841c-a3b09466187b",
      "name": "Verify High Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "fromEmail": "Pawankumar646435@gmail.com",
        "toEmail": "mahakalpawan@gmail.com",
        "subject": "🚨 High Priority Ticket Alert",
        "emailFormat": "text",
        "text": "=🚨 HIGH PRIORITY TICKET DETECTED\n\nTicket ID: {{$json.body.ticketId}}\n\nTitle: {{$json.body.title}}\n\nCategory: {{$json.body.category}}\n\nPriority: {{$json.body.priority}}\n\nPlease investigate immediately.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "30ede658-10cf-4e23-aa80-98d236526bc4",
      "name": "Send an Email",
      "webhookId": "32e4e96f-6f1e-4598-965b-6151f5e0dc6e",
      "credentials": {
        "smtp": {
          "id": "WgL8JKIW5utdWXIV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Trigger actual notifications (e.g. Email, Slack, PagerDuty in production)\nconsole.log('CRITICAL ALERT - n8n Escalated High Priority Ticket:', $input.first().json);\nreturn {\n  json: {\n    status: \"escalated\",\n    message: \"Alert sent to on-call support engineers\",\n    escalatedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "389374e1-3b06-4b39-96e0-156bbe31b901",
      "name": "Escalate Alert Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    status: \"ignored\",\n    message: \"Ticket priority is not HIGH, escalation skipped\"\n  }\n};"
      },
      "id": "3b147e01-8c85-4cd0-8cb4-57f2ae83937c",
      "name": "No-Op Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "61a758dd-e1dd-4b9d-bd0b-95e2cd04c2c2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        80
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Verify High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify High Priority": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Escalate Alert Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Alert Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-Op Skip Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "flowdesk_n8n_instance"
  }
}
