workflows/high-priority-workflow.json
{
  "name": "High Priority Escalation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalate-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "value2": "HIGH"
            }
          ]
        }
      },
      "id": "priority-check",
      "name": "Verify High Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Trigger actual notifications (e.g. Email, Slack, PagerDuty in production)\nconsole.log('CRITICAL ALERT - n8n Escalated High Priority Ticket:', $input.first().json);\nreturn {\n  json: {\n    status: \"escalated\",\n    message: \"Alert sent to on-call support engineers\",\n    escalatedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "escalate-action",
      "name": "Escalate Alert Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    status: \"ignored\",\n    message: \"Ticket priority is not HIGH, escalation skipped\"\n  }\n};"
      },
      "id": "no-op-action",
      "name": "No-Op Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Verify High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify High Priority": {
      "main": [
        [
          {
            "node": "Escalate Alert Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Alert Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-Op Skip Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "flowdesk_n8n_instance"
  }
}
