workflows/new-ticket-workflow.json
{
  "name": "New Ticket Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log ticket details dynamically in container stdout\nconsole.log('n8n logged new ticket event:', $input.first().json);\nreturn {\n  json: {\n    status: \"success\",\n    message: \"Event logged successfully\",\n    processedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "log-node",
      "name": "Log Event & Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log Event & Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Event & Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "flowdesk_n8n_instance"
  }
}
