workflows/whatsapp-resolution-workflow.json
{
  "name": "WhatsApp Ticket Resolution Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-resolve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('n8n WhatsApp Resolution Event Received:', $input.first().json);\nreturn {\n  json: {\n    status: \"success\",\n    message: \"Resolution workflow triggered successfully\",\n    details: {\n      ticketId: $input.first().json.body.ticketId,\n      title: $input.first().json.body.title,\n      category: $input.first().json.body.category,\n      priority: $input.first().json.body.priority\n    },\n    processedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "log-and-resolve-log",
      "name": "Log Resolution details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log Resolution details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Resolution details": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "flowdesk_n8n_instance"
  }
}
